<!doctype html>
<html>
<head>
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body> 
    <div class="topnav">
        <a onclick="nomenclatura()">Nomenclatura</a>
        <a onclick="reazione()">Reazioni</a>
      </div>
    <br>
    <br>
    <br>
    <br>
    <center>
        <div id="nomenclatura">
            <input type="text" placeholder="Inserisci la molecola" id="molecola"></input>
            <br>
            <br>
            <input type="submit" onclick="send()" id="send" value="Nomencla"></input>
            <br>
            <br>
            <input type="text" id="result" placeholder="Risultato" readonly></input>
        </div>
        <div id="reazione">

        </div>
    </center>
</body>
</html>
